.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: rgb(156, 191, 236);
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.filter-container label {
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.filter-container select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
